<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd">
    <mvc:annotation-driven />
    <context:component-scan base-package="cn.injava.es" />

    <!--Register a Properties File in XML-->
    <context:property-placeholder location="classpath:config.properties" />
    <!-- // Register a Properties File in XML-->

    <!--mysql mybatis database connect-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.pswd}" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.github.elizabetht.model"/>
        <property name="mapperLocations" value="classpath*:cn/injava/es/spring/dao/*.xml" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.injava.es.spring.dao" />
    </bean>
    <!-- // mysql mybatis database connect-->

    <!--elasticsearch config-->
    <bean id="client" class="org.springframework.data.elasticsearch.client.TransportClientFactoryBean">
        <property name="clusterNodes" value="${es.node}" />
        <property name="clusterName" value="${es.cluster.name}" />
    </bean>
    <bean name="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
        <constructor-arg name="client" ref="client"/>
    </bean>
    <!-- // elasticsearch config-->

    <!--redis config-->
    <bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis_maxIdle}" />
        <property name="maxActive" value="${redis_maxActive}" />
        <property name="maxWait" value="${redis_maxWaitMillis}" />
        <property name="testOnBorrow" value="${redis_testOnBorrow}" />
    </bean>
    <bean id="redisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="poolConfig" ref="redisPoolConfig" />
        <property name="hostName" value="${redis_host}" />
        <property name="port" value="${redis_port}" />
        <property name="password" value="${redis_pass}" />
    </bean>
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory" />
    </bean>
    <!-- // redis config-->

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
    <bean id="resourceLoader" class="cn.injava.es.spring.utils.CustomResourceLoader"></bean>
</beans>